/*.Header {*/
    /*background-color: #3f51b5;*/
    /*border: medium none;*/
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);*/
    /*box-sizing: border-box;*/
    /*color: #fff;*/
    /*background-color: black;*/
    /*color: white;*/
    /*margin-bottom: 10px;*/
    /*min-height: 50px;*/
/*}*/

/*.Header a, .Header a:hover, .Header a:visited {*/
    /*background-color: rgb(229, 9, 20);*/
    /*text-decoration: none;*/
    /*color: white;*/
    /*padding: 5px 10px;*/
    /*border-radius: 3px;*/
/*}*/

/*.Header a:hover {*/
    /*background: #f40612;*/
/*}*/

.Header {
    width: 100%;
    display: flex;
}

.Header h2 {
    flex: 1;
}



